<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ods.splash">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash"
        tools:targetApi="31">
        <activity
            android:name=".loginApp"
            android:exported="false" />
        <activity
            android:name=".Menu_act"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.Splash.NoActionBar" />
        <activity
            android:name=".Aplicacion"
            android:exported="false" />

        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ods.splash" />

        <activity
            android:name=".Registrar"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>